body {
  /* @apply bg-trueGray-100; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  @apply bg-gradient-to-br from-cyan-400 via-violet-400  to-lightBlue-400;
}

.text-glow {
  transition: text-shadow 250ms ease-in-out;
}

.text-glow:hover {
  text-shadow: 0 0 16px #ff66ff;
}

.container-background {
  background-image: url('./images/background.png');
  background-size: contain;
}
