body {
  @apply bg-trueGray-100;
}

.text-glow {
  transition: text-shadow 250ms ease-in-out;
}

.text-glow:hover {
  text-shadow: 0 0 16px #ff66ff;
}

.container-background {
  background-image: url('./images/background.png');
  background-size: contain;
}
