body {
  /* @apply bg-trueGray-100; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  @apply bg-gradient-to-br from-cyan-400 via-violet-400  to-lightBlue-400;
}

.text-glow {
  transition: text-shadow 250ms ease-in-out;
}

.text-glow:hover {
  text-shadow: 0 0 16px #ff66ff;
}

.container-background {
  background-image: url('./images/background.png');
  background-size: contain;
}

.container-page {
  @apply text-lg shadow-lg rounded-xl backdrop-filter backdrop-blur-md bg-lightBlue-200 bg-opacity-50 text-center sm:text-left px-6 pt-6 pb-10 sm:px-8 lg:px-16;
}
